{% extends 'base.html' %}

{% block form %}
    <div> <h2>{{ courses[0].subject_code }} {{courses[0].course_number}}</h2>
    <p>{{courses[0].course_description}}</p>
    <p> Credits: {{courses[0].credits}}</p>
     Pre-requisitives: {{courses[0].prereq_cond}}
        {% set first_section = courses[0] %}
        {% set prereq_lst = first_section.prereq_list %}
        {% for i in range(prereq_lst|length) %}
            <p> {% if first_section.prereq_satisfied[i] %}
                    yes
                {% else %}
                    no
                {% endif %}
                : {{prereq_lst[i][0]}}
                {% if prereq_lst[i][1]|length < 2 %}
                    {{'00'+prereq_lst[i][1]}}
                {% elif prereq_lst[i][1]|length < 3 %}
                    {{'0' + prereq_lst[i][1]}}
                {% else %}
                    {{prereq_lst[i][1]}}
                {%endif %}
                : {{first_section.prereq_titles[i]}}
            </p>
        {% endfor %}
    </div>
    <div>
        <table style="width=80%">
            <tr>
                <th> Section </th>
                <th> Activity </th>
                <th> Term </th>
                <th> Days </th>
                <th> StartTime</th>
                <th> EndTime</th>
                <th> Instructor </th>
                <th> Building </th>
                <th> Room number</th>
            </tr>
            {% for section in courses %}
            <tr>
                <td> {{section.section_number}} </td>
                <td> {{section.section_type}} </td>
                <td> {{section.term}} </td>
                <td> {{section.daysmet}}</td>
                <td> {{section.start_time}}</td>
                <td> {{section.end_time}}</td>
                <td> {{section.instructors}}</td>
                <td> {{section.building}} </td>
                <td> {{section.room_number}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}